.modal {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: appear;
  animation-duration: 500ms;
}

.modalForm, .modalDialogDelete {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 550px;
  max-height: calc(100vh - 40px);
  flex-direction: column;
  text-align: left;
  background: white;
  overflow: hidden;
  padding: 1rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
}

.modalDialogDelete {
  max-width: 400px;
  padding: 0 0 1rem 0;
}

.modalDialogDelete > div {
  padding: 0 2rem;
}

.modalDialogDelete > div:first-child {
  border-bottom: 1px solid gray;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalClose {
  font-size: 32px;
  border: 1px solid gray;
  cursor: pointer;
  padding: 5px 20px;
  margin: -1rem 0 -1rem auto;
}

.linkLeft {
  margin-right: 25px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}
