.search {
  width: 300px;
  height: 30px;
  font-size: 14px;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: appear;
  animation-duration: 500ms;
}

.modalDialog {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 550px;
  max-height: calc(100vh - 40px);
  flex-direction: column;
  text-align: left;
  background: white;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.modalClose {
  font-size: 32px;
  border: 1px solid gray;
  cursor: pointer;
  padding: 5px 20px;
  margin: -1rem 0 -1rem auto;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}


/* Таблица, хеадер */

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.th, .td, .tdcount {
  border: 1px solid gray;
  padding: 15px 25px;
  margin: 0;
}

.th {
  min-width: 150px;
  background-color: rgba(112, 76, 182, 0.1);
  text-align: center;
  position: relative;
  transition: all 0.2s;
}

.th:first-child:hover, .th:nth-child(2):hover {
  background: #ddd;
  cursor: pointer;
}

.sort {
  display: flex;
  width: 50px;
  height: 50px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}


/* Тело таблицы */

.td:first-child {
  border-right: none;
  padding-right: 50px;
}

.td:nth-child(2) {
  border-left: none;
  text-align: right;
}

.td:nth-child(2) > span {
  background-color: lightgray;
  border-radius: 33%;
  padding: 5px 10px;
}

.link {
  color: blue;
  text-decoration: underline;
}

.button, .buttonRight {
  height: 30px;
  background: none;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 15px;
  transition: all 0.2s;
}

.buttonRight {
  margin-left: 25px;
}

.button:hover, .button:focus, .buttonRight:hover, .buttonRight:focus {
  background: lightgray;
}
