.form > div {
  margin-top: 5px;
  margin-bottom: 20px;
}

.delivery {
  display: flex;
  flex-direction: row;
}

.select, .selectError, .delivery > div > div {
  width: 150px;
  padding-left: 5px;
}

.select, .selectError {
  height: 30px;
  font-size: 16px;
  background-color: white;
  outline: none;
  border: 1px solid gray;
  cursor: pointer;
}

.selectError {
  border: 2px solid red;
  border-radius: 3px;
}

.delivery > div {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  margin-left: 20px;
}
